/* CSS reset */
html {
    box-sizing : border-box ;
  }

* , * :before , * :after {
    box-sizing : inherit ;
}
 /* end of CSS reset */

 body {
     background-color: rgb(39, 189, 119);
 }

 nav li{
    list-style-type: none;
    display: inline;
    padding-right: 20px;
  }

  img {
    background-color: rgb(241, 44, 44);
    width: 400px;
    border-style: 20px ridge;
    padding: 30px;
    margin: 20px;
    float: right;
  }

 p {
     color: rgb(8, 118, 209)
 }

  h1, h2, h3, h4 {
      color: rgb(241, 44, 44);
      font-family: cursive;
      font-style: oblique;
      
  }

  ol, ul {
    color: rgb(153, 114, 8);
  }

  .view {
    color: rgb(153, 114, 8);
      float: right;
  }