/* CSS reset */
html {
    box-sizing : border-box ;
  }

* , * :before , * :after {
    box-sizing : inherit ;
}
 /* end of CSS reset */

 body {
     background-color: rgb(14, 236, 144);
 }

 nav li{
    list-style-type: none;
    display: inline;
    padding-right: 20px;
  }

  img {
    background-color: rgb(104, 160, 233);
    width: 400px;
    border-style: 20px ridge;
    padding: 30px;
    margin: 20px;
  }
