/* CSS reset */
html {
    box-sizing : border-box ;
  }

* , * :before , * :after {
    box-sizing : inherit ;
}
 /* end of CSS reset */


 body {
    background-color: rgb(14, 236, 144);
     background-image: url(/img/TuckermanRavine.MtWashington.NH.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 1.1rem;
     line-height: 1.4rem;
 }

h1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(243, 70, 70);
    font-style: oblique;
    font-size: 60px;
    font-variant: small-caps;
    letter-spacing: 4px;
    line-height: 40px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: rgb(25, 218, 128);
    font-size: 40px;
    font-style: oblique;
    line-height: 40px;
}

nav li{
    list-style-type: none;
    display: inline;
    padding-right: 20px;
  }

  a :link, a :visited {
      color: rgb(243, 70, 70);
  }

a :hover, a :active {
    color: rgb(71, 114, 243);
}

.view
