/* CSS reset */
html {
    box-sizing : border-box ;
  }

* , * :before , * :after {
    box-sizing : inherit ;
}
 /* end of CSS reset */


 body {
     background-image: url(/img/TuckermanRavine.MtWashington.NH.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 1.1rem;
     line-height: 1.4rem;
 }

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(209, 32, 9);
    font-size: 40px;
    font-variant: small-caps;
    word-spacing: 10px;
    padding: 20px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(209, 32, 9);
    font-variant: small-caps;
    font-size: 20px;
}
