/* CSS reset */
html {
    box-sizing : border-box ;
  }

* , * :before , * :after {
    box-sizing : inherit ;
}
 /* end of CSS reset */


 body {
     background-image: url(/img/TuckermanRavine.MtWashington.NH.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 1.1rem;
     line-height: 1.4rem;
 }

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(30, 44, 238);
    font-size: 60px;
    font-variant: small-caps;
    letter-spacing: 4px;
    line-height: 40px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(74, 27, 245);
    font-style: italic;
    font-size: 40px;
    line-height: 10px;
}
